.footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
}

.cameraIcon {
  width: 30px;
  background-color: white;
  padding: 15px;
  padding-right: 19px;
  border-radius: 50%;
}

.cameraImg {
  width: 35px;
}

.footerBack {
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  z-index: -1;
}
